
    body {
        font-family: inherit;
    }

    .navbar-toggler-icon {
        background-color: #ffffff;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color:#ffffff;
        color:  #000000 !important;
    }
    