body {
  font-family: inherit;
  padding-top: 70px;
}
main {
  padding-top: 20px;
}

h5 {
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}
.title-info {
  background-color: #000000;
  color: #fdfdfdf3;
}

/* Index css */

.home-titles {
  font-size: 50px;
  font-weight: bold;
  padding-top: 5%;
  letter-spacing: 1px;
  text-align: center;
}
.home-titles2 {
  font-size: 50px;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 2%;
  margin-top: 8%;
  letter-spacing: 1px;
  text-align: center;
}
.home-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.owl-carousel .item img {
  width: 100%; /* Adjust this value as needed */
  height: 300px; /* This ensures the aspect ratio of the image is maintained */
}
.toast-container {
  position: fixed;
  top: 77%;
  left: 83%;
  transform: translate(-50%, -50%);
}
.list-group {
  color: #d8d8d8;
  margin-bottom: 10%;
  margin-top: 8%;
}
.list-group-item p {
  margin-top: 50px;
}
.list-group-item:hover {
  background-color: #a8a8a800 !important;
  color: #000000 !important;
}
.list-group-item {
  border-width: 3px;
  border-style: double;
}
#col-home1 {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000 !important;
}
#col-home2 {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000 !important;
}
#col-home3 {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000 !important;
}
#col-home4 {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000 !important;
}

.about-us {
  background-color: #000000;
  color: #fdfdfdf3;
}

/* Nav bar */

.navbar-toggler-icon {
  background-color: #ffffff;
}
#navbarNavDropdown {
  font-size: 22px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #ffffff;
  color: #000000 !important;
}
.dropdown-menu {
  font-size: 18px;
}

/* Extensions css */

.extensions {
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

/* Tweezers css */

.tweezers {
  text-align: center;
}
.card-container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.card {
  width: 18rem;
  padding: 10px;
  margin: 30px;
}

/* Adhesives css */

.adhesives {
  text-align: center;
}

.cart {
  text-align: center;
}
.cart-container {
  margin: 5%;
}

/* Register css */

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.form {
  border: 3px double #000000;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
#form-header {
  background-color: #000000;
  color: #fdfdfdf3;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 2%;
  letter-spacing: 1px;
  text-align: center;
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Log In css */

.logIn-container {
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  font-size: 20px;
}

.mb-3.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons / hover */

.btn {
  background-color: rgba(4, 3, 3, 0.88);
  color: #d8d8d8;
  border-color: rgb(0, 0, 0);
}
.btn:hover {
  background-color: rgba(255, 163, 237, 0.701);
  color: #000000;
  border-color: #000000;
}
.form-check-input:checked {
  background-color: rgba(
    255,
    163,
    237,
    0.701
  ); /* Change this to any color you prefer */
}
.pink {
  border-color: rgba(
    255,
    163,
    237,
    0.701
  ); /* Change this to any color you prefer */
}
.text-primary {
  color: rgba(254, 120, 227, 0.701) !important;
}

/* Media query */

@media (max-width: 768px) {
  .toast-container {
    top: 70%; /* Adjust the top position for smaller screens */
    left: 60%; /* Center the container horizontally */
    transform: translateX(-50%); /* Center the container horizontally */
    width: 55%; /* Set a smaller width for the container */
  }
}
@media (max-width: 430px) and (max-height: 932px) {
  .list-group-item p {
    display: none; /* Hide paragraphs within list-group-items */
  }
}
